.container.login-page
    .row.mt-40
        .col-xs-offset-3.col-xs-6
            .row
                .col-xs-12
                    h3.text-center Select a business
                    hr
                    button.close(type='button' ng-click='select.addBusiness()') Add a business
            .row
                .col-xs-12
                    hr
