navbar
.container.login-page.pt-40
    .row.mt-40
        .col-xs-12.col-md-6.col-md-offset-3
            uib-tabset(type='pills')
                uib-tab(heading='Login')
                    hr
                    h4.text-danger(ng-show='login.invalidCredentials') Invalid Credentials
                    span.block.text-danger.small(ng-show='login.loginForm.$error.email') Please enter a valid Email address

                    form(name='login.loginForm' ng-submit='login.login()')
                        formly-form(model='login.model' fields='login.loginFormField')
                            .pull-right
                                button.btn.btn-primary(type='submit' ng-disabled='login.loginForm.$invalid') LOGIN
                uib-tab(heading='Create account')
                    hr
                    form(name='login.createForm' ng-submit='login.create()')
                        formly-form(model='login.model' fields='login.createFormField')
                            .pull-right
                                button.btn.btn-danger(type='submit' ng-disabled='login.createForm.$invalid') CREATE NEW ACCOUNT
